body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square-file-button{
  color: #666666 !important;
  height: 100% !important;
  background-color: #E8E8E8 !important;
  border: 2px dashed #333 !important;
  padding: 0 !important;
}

.dash-title{
  font-size: 25px;
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.input-group-with-icon {
  position: relative; 
  display: flex;
  align-items: center;
}

.input-group-with-icon input[type="text"] {
  padding-right: 40px; /* ajusta o espaço do input para que o ícone tenha espaço */
  height: 45px;
}

.input-group-with-icon .search-icon {
  position: absolute; /* posiciona o ícone dentro do input */
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1; /* coloca o ícone acima do input */
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  /* Adiciona regras de estilo para dispositivos móveis */
  .input-group-with-icon input[type="text"] {
    padding-right: 30px;
  }

  .input-group-with-icon .search-icon {
    right: 8px;
  }
}

.form-check-input:focus {
  outline: 0 !important;
  border: 1px solid #FEBD00 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}
.form-check-input:checked {
  background-color: #FEBD00 !important;
  border-color: #FEBD00 !important;
}


